*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: montserrat;
    /* background-color: black; */
}

#red { background-color: #cf3035; }
#purple { background-color: #7331ad; }
#green { background-color: #31ad3b; }
#blue { background-color: #315cad; }



.main{
    /* display: flex;
    justify-content: center; */
    /* align-items: center; */
    align-items: center;
    text-align: center;

}


h1{
    margin: 2rem;
    /* color: white; */
}



.boxes{
    display: flex;
    align-items: center;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    
}

.box{
    justify-content: center;
    /* align-items: baseline; */
    width: 10rem;
    height: 10rem;
    background-color: red;
    margin: 1rem;
    cursor: pointer;
    border-radius: 1rem;
    border: 2px white solid;
    transition: 0.3s;
}

.box:hover{
    width: 11rem;
    /* height: 11rem; */
}